@use 'variables' as *;

// Media Queries Mixin
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

// Flex Center Mixin
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Hover Transition Mixin
@mixin transition-ease($property: all, $duration: 0.3s, $ease: ease-in-out) {
  transition: $property $duration $ease;
}
